<footer>
  <div class="footer-top flex-row">
    <div class="flex-col">
      <img class="logo-name" src="assets/Images/Foodie.png" alt="Foodie" />
      <p class="desc">
        We Made Fresh And Healthy Soups, Momos, French Fries, Burgers, Pizzas,
        Sandwiches, Ice Creams With Our Own Different Secret Ingredients
      </p>
      <ul class="social-links">
        <li>
          <a href="#"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-square-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </li>
      </ul>
    </div>

    <div class="flex-col">
      <h4 class="heading">Address</h4>

      <p class="desc">
        National Highways <br />
        Salem, Ammapet
      </p>
      <p class="desc">
        p: 6789567895 <br />
        E: foodie@gmail.com
      </p>
    </div>

    <div class="flex-col">
      <h4 class="heading">Opening Hours</h4>
      <ul class="timings flex-col">
        <li>
          <p class="days">Monday - Saturday</p>
          <div class="time">4.00pm - 10.00pm</div>
        </li>

        <li>
          <p class="days">Sunday</p>
          <div class="time">Closed</div>
        </li>
      </ul>
    </div>

    <div class="flex-col">
      <h4 class="heading">More Info</h4>
      <div [ngSwitch]="menuType" class="control">
        <ul *ngSwitchCase="'default'">
          <li><a routerLink="home">Home</a></li>
          <li><a routerLink="about">About</a></li>
          <li><a routerLink="menu">Menu</a></li>
          <li><a routerLink="contact">Contact</a></li>
          <li><a routerLink="login">Login</a></li>
        </ul>
        <ul *ngSwitchCase="'user'">
          <a routerLink="home">Home</a>
          <a routerLink="about">About</a>
          <a routerLink="menu">Menu</a>
          <a routerLink="contact">Contact</a>
          <a (click)="userLogout()">Logout</a>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyrights flex-row">
    <span>Copyright © 2023 All rights reserved | Developed by Sarulatha D</span>
  </div>
</footer>