<section>
    <div class="container">
        <table>
            <tr>
                <th>Order Id</th>
                <th>Email Id</th>
                <th>Mobile No</th>
                <th>Total Amount</th>
                <th>Mode of Order</th>
                <th>Mode of Payment</th>
                <th>Pickup Time</th>
            </tr>
            <tr>
                <td>{{orderData.id}}</td>
                <td>{{orderData.Email_Id}}</td>
                <td>{{orderData.Mobile_No}}</td>
                <td>{{orderData.Total_Amount |currency:'INR'}}</td>
                <td>{{orderData.Mode_of_Order}}</td>
                <td>{{orderData.Mode_of_Payment}}</td>
                <td>{{orderData.Pickup_Time}}</td>
                
            </tr>
        </table>
        <div class="table-2">
            <table class="menu-items">
                <tr>
                    <th>Menu Image</th>
                    <th>Menu Name</th>
                    <th>Menu Quantity</th>
                </tr>
                <tr *ngFor="let item of orderData.Menu_Details" >
                    <td><img src="{{item.menuimage}}"></td>
                    <td>{{item.menuname}}</td>
                    <td>{{item.menuquantity}}</td>
                </tr>
            </table>
        </div>
    </div>
</section>
