<!-- About section starts -->
<section class="about-section">
  <div class="section-heading">
    <h1>About Us</h1>
  </div>

  <div class="row">
    <div class="image">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="assets/Images/image1.jpg">
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/Images/image2.jpg">
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/Images/image3.jpg">
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/Images/image4.jpg">
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/Images/image5.jpg">
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/Images/image6.jpg">
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/Images/image7.jpg">
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="content">
      <h3>why choose us?</h3>
      <p>In 2021, We opened our Foodie Restaurant in salem City.
        We
        always holding true to our motto "Excellent
        and Hygine Food". All of our food is prepared daily at
        our restaurant to ensure the highest quality.
        we made fresh and healthy Soups, Momos, French Fries,
        Burgers, Pizzas, Sandwiches, Ice Creams
        with our own different secret ingredients.</p>
      <div class="services">
        <div class="icons">
          <img src="assets/Images/fresh.png" alt="">
          <h3>Fresh Food</h3>
        </div>
        <div class="icons">
          <img src="assets/Images/reward.png" alt="">
          <h3>High Quality</h3>
        </div>
        <div class="icons">
          <img src="assets/Images/cooking.png" alt="">
          <h3>Skilled Chef</h3>
        </div>
        <div class="icons">
          <img src="assets/Images/24-hours.png" alt="">
          <h3>24/7 Support</h3>
        </div>
      </div>
      <div class="button">
        <a routerLink="../menu" class="btn">our menu</a>
      </div>
    </div>
  </div>
</section>
<!-- About section ends -->

<!-- Facilities section starts -->
<section class="facility-section">
  <div class="section-heading">
    <h1>Facilities</h1>
  </div>
  <div class="container">
    <div class="content-box">
      <img src="assets/Images/order-food.jpg" alt="">
      <div class="content">
        <h3>Online Ordering facility</h3>
      </div>
    </div>
    <div class="content-box">
      <img src="assets/Images/online-reservation.jpg" alt="">
      <div class="content">
        <h3>Pre ordering facility</h3>
      </div>
    </div>
    <div class="content-box">
      <img src="assets/Images/dine-in.jpg" alt="">
      <div class="content">
        <h3>Dine-in facility</h3>
      </div>
    </div>
    <div class="content-box">
      <img src="assets/Images/take-away.jpg" alt="">
      <div class="content">
        <h3>take away facility</h3>
      </div>
    </div>
  </div>
</section>
<!-- Facilities section ends -->

<!-- Chef section starts -->
<section class="chef-section">
  <div class="section-heading">
    <h1>Meet Our Professionals</h1>
  </div>

  <div class="team-details">
    <div class="team-card">
      <div class="img-wrapper">
        <img src="assets/Images/chef1.jpg" alt="">
      </div>
      <div class="text-wrapper">
        <h4 class="name">Sachin Singh</h4>
        <h5 class="desc">2 Year Experience</h5>
      </div>
    </div>

    <div class="team-card">
      <div class="img-wrapper">
        <img src="assets/Images/chef2.jpg" alt="">
      </div>
      <div class="text-wrapper">
        <h4 class="name">Lara</h4>
        <h5 class="desc">3 Year Experience</h5>
      </div>
    </div>

    <div class="team-card">
      <div class="img-wrapper">
        <img src="assets/Images/chef3.jpg" alt="">
      </div>
      <div class="text-wrapper">
        <h4 class="name">Alex</h4>
        <h5 class="desc">5 Year Experience</h5>
      </div>
    </div>

    <div class="team-card">
      <div class="img-wrapper">
        <img src="assets/Images/chef4.jpg" alt="">
      </div>
      <div class="text-wrapper">
        <h4 class="name">Andria</h4>
        <h5 class="desc">3 Year Experience</h5>
      </div>
    </div>

    <div class="team-card">
      <div class="img-wrapper">
        <img src="assets/Images/chef5.jpg" alt="">
      </div>
      <div class="text-wrapper">
        <h4 class="name">Mohammad Abu</h4>
        <h5 class="desc">2 Year Experience</h5>
      </div>
    </div>
  </div>
</section>
<!-- Chef section ends -->

<!-- Review section starts -->
<section class="review-section">
  <div class="section-heading">
    <h1>Reviews</h1>
    <h3>Our Customers say</h3>
  </div>
  <!-- Swiper -->
  <ngb-carousel class="swiper">
    <ng-template ngbSlide class="review-item">
      <div class="container">
        <div class="img-box">
          <img src="assets/Images/review1.jpg" alt="">
        </div>
        <div class="text-holder">
          <h4 class="name">Rahul</h4>
          <p class="comment">
            Lorem ipsum dolor sit amet consectetur
            adipisicing elit.
            Repellat, ut.
          </p>
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide class="review-item">
      <div class="container">
        <div class="img-box">
          <img src="assets/Images/review2.jpg" alt="">
        </div>
        <div class="text-holder">
          <h4 class="name">Ankitha</h4>
          <p class="comment">
            Lorem ipsum dolor sit amet consectetur
            adipisicing elit.
            Repellat, ut.
          </p>
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-stroke"></i>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide class="review-item">
      <div class="container">
        <div class="img-box">
          <img src="assets/Images/review3.jpg" alt="">
        </div>
        <div class="text-holder">
          <h4 class="name">Sidharth</h4>
          <p class="comment">
            Lorem ipsum dolor sit amet consectetur
            adipisicing elit.
            Repellat, ut.
          </p>
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-stroke"></i>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide class="review-item">
      <div class="container">
        <div class="img-box">
          <img src="assets/Images/review4.jpg" alt="">
        </div>
        <div class="text-holder">
          <h4 class="name">Shalini</h4>
          <p class="comment">
            Lorem ipsum dolor sit amet consectetur
            adipisicing elit.
            Repellat, ut.
          </p>
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide class="review-item">
      <div class="container">
        <div class="img-box">
          <img src="assets/Images/review5.jpg" alt="">
        </div>
        <div class="text-holder">
          <h4 class="name">Arvindh</h4>
          <p class="comment">
            Lorem ipsum dolor sit amet consectetur
            adipisicing elit.
            Repellat, ut.
          </p>
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-stroke"></i>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide class="review-item">
      <div class="container">
        <div class="img-box">
          <img src="assets/Images/review6.jpg" alt="">
        </div>
        <div class="text-holder">
          <h4 class="name">Priya</h4>
          <p class="comment">
            Lorem ipsum dolor sit amet consectetur
            adipisicing elit.
            Repellat, ut.
          </p>
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</section>
<!-- Review section end -->