<section class="order-section">
    <div class="section-heading" *ngIf="!status">
        <h1>My Orders</h1>
    </div>
    <div *ngIf="status" class="emptycart">
      <div>
        <a><img src="assets/Images/Order.png" alt=""></a>
        <a><h2>Sorry, No Orders Found</h2></a>
        <a><p>Order Now.</p></a>
        <a><p>If there is no order,this page will automatically redirected</p></a>
      </div>
    </div>
    <div class="container" *ngIf="!status">
      <table class="cart-details">
        <thead>
          <th>Order Id</th>
          <th>Date & Time</th>
          <th>Price</th>
          <th>Order Status</th>
          <th>Menu Preparation Status</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr  *ngFor="let order of orderDetails">
            <td>{{ order.id }}</td>
            <td>{{order.Order_Date | date: 'dd MMM yyyy hh:mm:ss'}}</td>
            <td>{{ order.Total_Amount | currency : "INR" }}</td>
            <td>{{order.Order_Status}}</td>
            <td>{{order.Menu_Prep_Status}}</td>
            <td><a routerLink="/orders/{{order.id}}"><button>View</button></a></td>
          </tr>
        </tbody>
      </table>
    </div>
</section>


