.menu-section {
  padding: 0;
  margin: 0;
  margin-top: 80px;
  padding: 0 1%;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

input{
    padding: 7px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--orange);
}

ul{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

li {
  height: 280px;
  width: 300px;
  border: 1px solid whitesmoke;
  border-radius: 16px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

li:hover {
  opacity: 0.9;
}

li img {
  height: 190px;
  object-fit: fill;
}

.content {
  padding: 20px 3px;
  display: flex;
  justify-content: space-between;
}

a{
  font-size: 16px;
  width: 210px;
  color: var(--orange);
  text-align: justify;
}

a:hover{
  cursor: pointer;
  text-decoration: underline;
}