<section class="menu-section">
  <div class="section-heading">
    <h1>Our Menu</h1>
  </div>
  <div class="search">
    <input type="search" placeholder="search menu by name..." [(ngModel)]="search" />
  </div>
  <ul>
      <li *ngFor="let menu of menuList | filter : search">
        <img src="{{ menu.menuimage }}" alt="" />
        <div class="content">
           <a routerLink="/menu/{{menu.id}}"> {{ menu.menuname }}</a>
            <span>{{ menu.menuprice | currency : "INR" }}</span>
        </div>
      </li>
  </ul>
</section>
