body {
    font-family: 'poppins', sans-serif;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin: 10px 0;
    text-align: center;
    color: var(--orange);
    font-weight: 700;
}

.profile-content {
    border: 1px solid var(--white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

img {
    width: 150px;
    margin: 0 300px;
}

.info-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.info-container div div {
    padding: 5px 0;
}

h2 {
    text-decoration: underline;
    text-decoration-color: var(--orange);
    text-decoration-thickness: 3px;
}

p {
    font-size: 16px;
}