<app-Header *ngIf="
    router.url !== '/login' &&
    router.url !== '/register' &&
    router.url !== '/admin' &&
    router.url !== '/admin/orderDetails' &&
    router.url !== '/admin/menuedit' &&
    router.url !== '/admin/editmenu' &&
    router.url !== '/admin/customerDetails' &&
    router.url !== '/admin/queries' &&
    router.url !== '/admin/adminProfile'
  "></app-Header>
<router-outlet></router-outlet>
<app-Footer *ngIf="
    router.url !== '/login' &&
    router.url !== '/register' &&
    router.url !== '/admin' &&
    router.url !== '/admin/orderDetails' &&
    router.url !== '/admin/menuedit' &&
    router.url !== '/admin/editmenu' &&
    router.url !== '/admin/customerDetails' &&
    router.url !== '/admin/queries' &&
    router.url !== '/admin/adminProfile'
  "></app-Footer>
