<div class="admin-wrapper">
  <div class="navbar">
    <h1 class="title-1"><img src="assets/Images/Foodie.png" alt="Foodie Logo"></h1>

    <div class="profile-content"   *ngFor="let profile of adminProfile">
      <div class="profile-img">
        <img src="{{profile.profileimage}}" alt="Admin Image" />
      </div>
      <div class="profile-info">
        <div class="name">{{profile.name}}</div>
        <p class="role">{{profile.role}}</p>
      </div>
    </div>

    <ul>
      <li>
        <a routerLink="orderDetails" routerLinkActive="active">
          <span class="icon"><i class="fas fa-clipboard-list"></i></span>
          <span class="title-2">Order Details</span>
        </a>
      </li>
      <li>
        <a routerLink="menuedit" routerLinkActive="active">
          <span class="icon"><i class="fas fa-file-pen"></i></span>
          <span class="title-2">Edit Menu</span>
        </a>
      </li>
      <li>
        <a routerLink="customerDetails" routerLinkActive="active">
          <span class="icon"><i class="fas fa-users"></i></span>
          <span class="title-2">Customer Details</span>
        </a>
      </li>
      <li>
        <a routerLink="queries" routerLinkActive="active">
          <span class="icon"><i class="fas fa-clipboard-question"></i></span>
          <span class="title-2">Queries</span>
        </a>
      </li>
      <li>
        <a routerLink="adminProfile" routerLinkActive="active">
          <span class="icon"><i class="fas fa-address-card"></i></span>
          <span class="title-2">My Profile</span>
        </a>
      </li>
      <li>
        <a (click)="logout()" routerLinkActive="active" class="logout">
          <span class="icon"><i class="fas fa-right-from-bracket"></i></span>
          <span class="title-2">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="display-content">
  <router-outlet></router-outlet>
</div>