<section class="home">
    <div class="text-area">
        <h3>Food Ordering & Restaurant Management System</h3>
        <h1>Order Your Favourite Food</h1>
        <p>
            We Promise You'll Enjoy Every Sweet Moment To Find Your Favourite.
            <br>
            Eat What You Love And Save Your Time.
        </p>
        <div class="explore">
            <a routerLink="../menu">Explore Menu</a>
        </div>
    </div>

    <div class="category">
        <div class="item">
            <img src="assets/Images/soup.png" alt="" />
            <p>Soup</p>
        </div>
        <div class="item">
            <img src="assets/Images/momo.png" alt="" />
            <p>Momo</p>
        </div>
        <div class="item">
            <img src="assets/Images/french-fries.png" alt="" />
            <p>French Fries</p>
        </div>
        <div class="item">
            <img src="assets/Images/pizza.png" alt="" />
            <p>Pizza</p>
        </div>
        <div class="item">
            <img src="assets/Images/burger.png" alt="" />
            <p>Burger</p>
        </div>
        <div class="item">
            <img src="assets/Images/sandwich.png" alt="" />
            <p>Sandwich</p>
        </div>
        <div class="item">
            <img src="assets/Images/ice-cream.png" alt="" />
            <p>Ice Cream</p>
        </div>
    </div>
</section>
<!-- Header section starts -->

<!-- Counter section starts -->
<section class="counter-section">
    <div class="count">
        <div class="counter-container">
            <i class="fas fa-smile-beam"></i>
            <div class="control">
                <span class="num">{{customerCount}}</span>
                <span class="plus">+</span>
            </div>
            <span class="text">Happy Customers</span>
        </div>
        <div class="counter-container">
            <i class="fas fa-utensils"></i>
            <div class="control">
                <span class="num">{{foodCount}}</span>
                <span class="plus">+</span>
            </div>
            <span class="text">Food Delivered</span>
        </div>
        <div class="counter-container">
            <i class="fas fa-list"></i>
            <div class="control">
                <span class="num">{{menuCount}}</span>
                <span class="plus">+</span>
            </div>
            <span class="text">Menu Items</span>
        </div>
        <div class="counter-container">
            <i class="fas fa-star"></i>
            <div class="control">
                <span class="num">{{fiveStarCount}}</span>
                <span class="plus">+</span>
            </div>
            <span class="text">Five Stars Ratings</span>
        </div>
    </div>
</section>
<!-- Counter section ends -->

<!-- Gallery section starts -->
<section class="gallery-section">
    <div class="section-heading">
        <h1>Gallery</h1>
    </div>
    <div class="gallery-wrapper flex-row">
        <div class="gallery-img">
            <img src="assets/Images/gallery1.jpg" alt="" />
        </div>
        <div class="gallery-img">
            <img src="assets/Images/gallery2.jpg" alt="" />
        </div>
        <div class="gallery-img">
            <img src="assets/Images/gallery3.jpg" alt="" />
        </div>
        <div class="gallery-img">
            <img src="assets/Images/gallery4.jpg" alt="" />
        </div>
        <div class="gallery-img">
            <img src="assets/Images/gallery5.jpg" alt="" />
        </div>
        <div class="gallery-img">
            <img src="assets/Images/gallery6.jpg" alt="" />
        </div>
    </div>
</section>
<!-- Gallery section ends -->

<!-- Video section starts -->
<section class="video-section">
    <div class="section-heading">
        <h1>Videos</h1>
    </div>
    <div class="video-container">
        <video src="assets/Images/Burger.mp4" controls autoplay></video>
        <video src="assets/Images/Pizza.mp4" controls autoplay></video>
    </div>
</section>
<!-- Video section ends -->