<body>
    <div class="form-box">
        <div class="form-value">
            <form autocomplete="0ff" [formGroup]="RegisterForm" (submit)="SubmitForm()">
                <h3>Welcome<span>!</span></h3>
                <h2>Register Here</h2>

                <div class="inputbox">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Name" formControlName="name" />
                </div>

                <div *ngIf="RegisterForm.controls['name'].dirty || RegisterForm.controls['name'].touched">
                    <p class="error" *ngIf="RegisterForm.controls['name'].errors?.['required']">
                        Enter your name
                    </p>
                    <p class="error" *ngIf="RegisterForm.controls['name'].errors?.['pattern']">
                        Your name should have only alphabets
                    </p>
                    <p class="error" *ngIf="RegisterForm.controls['name'].errors?.['minlength']">
                        Enter your name with atleast 6 characters
                    </p>
                </div>

                <div class="inputbox">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="Email Id" formControlName="email" />
                </div>

                <div *ngIf="RegisterForm.controls['email'].dirty || RegisterForm.controls['email'].touched">
                    <p class="error" *ngIf="RegisterForm.controls['email'].errors?.['required']">
                        Enter your email id
                    </p>
                    <p class="error" *ngIf="RegisterForm.controls['email'].errors?.['pattern']">
                        Enter a valid email id
                    </p>
                </div>

                <div class="inputbox">
                    <i class="fas fa-phone"></i>
                    <input type="text" placeholder="Mobile No" formControlName="mobile" />
                </div>

                <div *ngIf="RegisterForm.controls['mobile'].dirty || RegisterForm.controls['mobile'].touched">
                    <p class="error" *ngIf="RegisterForm.controls['mobile'].errors?.['required']">
                        Enter your mobile number
                    </p>
                    <p class="error" *ngIf="RegisterForm.controls['mobile'].errors?.['pattern']">
                        Enter a valid mobile number
                    </p>
                </div>

                <div class="inputbox">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" formControlName="password" />
                </div>

                <div *ngIf="RegisterForm.controls['password'].dirty || RegisterForm.controls['password'].touched">
                    <p class="error" *ngIf="RegisterForm.controls['password'].errors?.['required']">
                        Enter your password
                    </p>
                    <p class="error" *ngIf="RegisterForm.controls['password'].errors?.['pattern']">
                        Passwords must be 6-8 characters long & contain
                        1(uppercase,lowercase,number)
                    </p>
                </div>

                <div class="inputbox">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Confirm Password" formControlName="cpassword" />
                </div>

                <div *ngIf="RegisterForm.controls['cpassword'].dirty || RegisterForm.controls['cpassword'].touched">
                    <p class="error" *ngIf="RegisterForm.controls['cpassword'].errors?.['ConfirmedValidator']">
                        Confirm password is not matched
                    </p>
                </div>

                <button>Submit</button>
                <div class="login">
                    <p>Already have an account <a routerLink="../login">Login</a></p>
                </div>
                <div class="homepage">
                    <p>
                        Back to home
                        <a routerLink="../home"><i class="fas fa-house"></i></a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</body>